.table th{ 
	text-align: center; 
	height:38px;
}
.cla1 {
	FONT-SIZE: 12px;
	COLOR: #4b4b4b;
	LINE-HEIGHT: 18px;
	TEXT-DECORATION: none
}

.login_msg {
	font-family: serif;
}

.login_msg .msg {
	background-color: #5bc0de;
	width: 150px;
}

.login_msg .btn {
	background-color: #5bc0de;
	width: 150px;
	font-size: 15px;
	font-family: ו;
}